#admin-list{
    margin: 2rem auto;
}

.admin-card{
    display: grid;
    grid-template-columns: 10% 10% 10% 26% 10% 12% 12% 5% 5%;
}

.id, .name, .email, .password, .createdAt, .edit, .delete{
    text-align: center;
}
